body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(98 112 141);
    padding: 2px;
    border: solid 0px;
    border-radius: 0px;
}

.navbar ul {
    overflow: auto;
}

.navbar ul li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

input {
    border: solid white 1px;
    border-radius: 10px;
    margin-left: 700px;
}